.thumb{
    display: flex;
    padding: 3px;
    margin: 6px auto;
    justify-content: center;
    gap: 3px;
    align-items: center;
}
.thumb > span{
    padding: 3px;
    background-color: var(--button-hover);
    border-radius: 50%;
}
.closeWindow{ 
    color: var(--branca);
    padding: 3px;
    margin-top: 3px;
    margin-left: 3px;
    background-color: transparent;
}
.closeWindow:hover{
    background-color: var(--border);
}
.newSlideImage{
    background-color: var(--border);
    width: calc(100% - 22px);
    position: relative;
    height: 320px;
}
.newSlideImage > .imageSlide{
    display: none;
}
.newSlideImage > .imageSlide.active{
    display: block;
}
.newThumb{
    display: flex;
    padding: 0 12px;
}
.newThumb > span{
    flex: 1 1;
    border-radius: 6px;
    background-color: var(--border);
    position: relative;
    overflow: hidden;
    padding: 1px;
}
.newThumb > span.active::before {
    content: "";
    background-color: var(--branca);
    position: absolute;
    border-radius: 6px;
    padding: 3px;
    top: 0;
    left: 0;
    width: 100%;
    animation: animateThumb 8s linear infinite;
}

@keyframes animateThumb {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.buttinsSlideNav{
    position: absolute;
    top: 0;
    width: calc(100% - 55%);
    height: 100%;
    border-radius: 6px;
}
#prev{
    left: 0;
}
#next{
    right: 0;
}
.aboutSlide{
    position: absolute;
    top: 105%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.comprar{
    background-color: var(--button);
    color: var(--branca);
}
.comprar > i{
    color: var(--branca);
    font-weight: bold;
}
.destaque{
    margin-top: 6px;
    margin-left: 12px;
    color: var(--branca);
}
.whiteWords{
    color: var(--branca);
}
.stars{
    color: rgb(255, 230, 0);
}
.emAlta{
    background-color: var(--card);
    border-radius: 6px;
    padding: 8px 22px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    margin-bottom: 22px;
}
.emAlta:hover{
    border: 1px solid var(--border);
}
.categorieList{     
    background-color: var(--card);
    border-radius: 6px;
    padding: 6px 12px;
    margin: 12px auto;
}

.align{
    margin: 12px auto;
    border-bottom: 1px solid #a5a5a528;
    padding: 6px;
}
.loadingSmall{
    color: #65656bd3; 
}
/* /////////////// */
.categorias{
    margin: 12px auto; 
    /* display: none; */
}
.categorias > ul > li {
    margin-bottom: 10px;
    background-color: var(--card);
    padding: 6px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #65656bd3; 
}

.categorias > ul > li:hover {
    background-color: var(--border);
}